{% extends 'menthome.htm' %}
{% load staticfiles %}
  {% block title %}E-DSW | {{ment.name}} | Student Dash Board {% endblock title %}
{% block container %}
<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center text-primary">Student Information Dashboard</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3 col-md-3">
              <!--! this for the nav pill stacks-->
            </div>
            <div class="col-sm-9 col-md-9">
              <!--! this is for the students card dashes-->
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock container %}