<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <title>E-DSW</title>
    <style>
        body {
            position: relative;
        }
    </style>
    <script>
        $('body').scrollspy({ target: '#navbar-example' })
    </script>
</head>
<body>
        <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
              </div>
              <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                <h4 id="list-item-1">Item 1</h4>
                <p>Quis magna Lorem anim amet ipsum do mollit sit cillum 
                    voluptate ex nulla tempor. Laborum consequat non elit 
                    enim exercitation cillum aliqua consequat id aliqua. 
                    Esse ex consectetur mollit voluptate est in duis laboris 
                    ad sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam Lorem
                     aliqua quis ullamco deserunt sit enim elit aliqua esse irure. 
                     Laborum nisi sit est tempor laborum mollit labore officia la
                     borum excepteur commodo non commodo dolor excepteur commodo.
                      Ipsum fugiat ex est consectetur ipsum commodo tempor </p>
                <h4 id="list-item-2">Item 2</h4>
                <p>Quis magna Lorem anim amet ipsum do mollit sit cillum 
                        voluptate ex nulla tempor. Laborum consequat non elit 
                        enim exercitation cillum aliqua consequat id aliqua. 
                        Esse ex consectetur mollit voluptate est in duis laboris 
                        ad sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam Lorem
                         aliqua quis ullamco deserunt sit enim elit aliqua esse irure. 
                         Laborum nisi sit est tempor laborum mollit labore officia la
                         borum excepteur commodo non commodo dolor excepteur commodo.
                          Ipsum fugiat ex est consectetur ipsum commodo tempor </p>
                <h4 id="list-item-3">Item 3</h4>
                <p>Quis magna Lorem anim amet ipsum do mollit sit cillum 
                        voluptate ex nulla tempor. Laborum consequat non elit 
                        enim exercitation cillum aliqua consequat id aliqua. 
                        Esse ex consectetur mollit voluptate est in duis laboris 
                        ad sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam Lorem
                         aliqua quis ullamco deserunt sit enim elit aliqua esse irure. 
                         Laborum nisi sit est tempor laborum mollit labore officia la
                         borum excepteur commodo non commodo dolor excepteur commodo.
                          Ipsum fugiat ex est consectetur ipsum commodo tempor </p>
                <h4 id="list-item-4">Item 4</h4>
                <p>Quis magna Lorem anim amet ipsum do mollit sit cillum 
                        voluptate ex nulla tempor. Laborum consequat non elit 
                        enim exercitation cillum aliqua consequat id aliqua. 
                        Esse ex consectetur mollit voluptate est in duis laboris 
                        ad sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam Lorem
                         aliqua quis ullamco deserunt sit enim elit aliqua esse irure. 
                         Laborum nisi sit est tempor laborum mollit labore officia la
                         borum excepteur commodo non commodo dolor excepteur commodo.
                          Ipsum fugiat ex est consectetur ipsum commodo tempor </p>
              </div>
</body>


  
