<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'stud_home' %}">E-DSW</a>
        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarsExample03" aria-label="Toggle navigation" type="button" data-target="#navbarsExample03" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'stud_home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'iam' %}">I AM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pay' %}">Payemnt</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'fees' %}">Fees Status</a>
            </li>
          </ul>
          <ul class="navbar-nav">
              <img src="{{ img.stud_img.url }}" alt="profilepic" width="50" height="50" class="d-inline-block align-top">
              <li class="nav-item text-primary text-uppercase">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stud.first_name }} {{ stud.middle_name }} {{stud.last_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
              <li class="nav-item">
                  <a href="{% url 'home' %}" class="btn btn-outline-success my-2 my-sm-0">Log Out</a>
              </li>
          </ul>
        </div>
      </nav>