{% load staticfiles %}
<div class="carousel slide" id="myCarousel" data-ride="carousel">
        <link rel="stylesheet" href="{% static 'css/home/cor.css' %}">
        <!--todo We are adding the down indicator of each slide -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!--todo We are adding the inner block for the corousel -->
        <div class="carousel-inner">
            <div class="item active titem">
                <img src="{% static 'images\test1.jpg' %}" alt="FirstImage">
            </div>
            <div class="item titem">
                <img src="{% static 'images\test2.jpg' %}" alt="SecondImage">
            </div>
            <div class="item titem">
                <img src="{% static 'images\test3.jpg' %}" alt="ThirdImage">
            </div>
        </div>
    </div>